@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: Roboto sans-serif;
  font-weight: bold;
  height: 90vh;
}

/************** Menu Links ********************/

nav a.nav-link {
  font-size: .8rem;
  font-weight: 500;
  letter-spacing: 0.0375rem ;
  cursor: pointer;
}


.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}
/************** Navbar ********************/

.nav-navbar > li> a.active, .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/************** Header ********************/

.main-info {
  background: url(bg.svg) no-repeat;
  background-position: right;
  background-size: 90vh;
  display: flex;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-family: "Roboto" sans-serif;
}

@media (max-width: 768px) {
  .main-info {
    background: url(bg.svg) no-repeat;
    font-size: 1.5rem !important;
    color: #fff;
    text-align: left;
  }
}

.title-one {
  font-size: 60px;
  font-family: "Roboto" sans-serif;
}

.main-info h1 {
  color: #fff;
  text-align: left;
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
}

.typed-text {
  font-size: 2rem;
  color: #F26840;
}

@media (max-width: 768px) {
  .typed-text {
    font-size: 1rem !important;
  }
}

.box-uno {
  margin-top: 50px;
  background: url(html.svg) no-repeat;
  background-position:center ;
}
.box-dos {
  margin-top: 50px;
  background: url(css.svg) no-repeat;
  background-position:center ;
}
.box-tres {
  margin-top: 50px;
  background: url(js.svg) no-repeat;
  background-position:center ;
}

.box-cuatro {
  margin-top: 50px;
  background: url(github.svg) no-repeat;
  background-position: center ;
}

.box-cinco {
  margin-top: 50px;
  background: url(react.svg) no-repeat;
  background-position:center ;
}

.typed-text-two {
  font-size: 1rem;
  color: #fff;
}
@media (max-width: 768px) {
  .typed-text-two {
    font-size: 1rem !important;
  }
}

.box-uno:hover {
  transform: scale(4.3);
  transition: 1s;
}
.box-dos:hover {
  transform: scale(4.3);
  transition: 1s;
}
.box-tres:hover {
  transform: scale(4.3);
  transition: 1s;
}
.box-cuatro:hover {
  transform: scale(4.3);
  transition: 1s;
}
.box-cinco:hover {
  transform: scale(4.3);
  transition: 1s;
}

.titule-h {
font-family: Roboto;
font-weight: bold;
}

.heading-2 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
  color: #F26840;
}

.page-section {
  padding: 6rem 0;
}
.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  section {
    padding: 9rem 0;
  }
}
::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#portfolio .portfolio-item {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(254, 209, 54, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.portfolio-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.portfolio-modal .modal-content p {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content img {
  margin-bottom: 2rem;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

